* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.first-page {
  width: 100%;
  height: fit-content;
  padding: 150px 0;
  background-color: #4a90e2;
}
.second-page {
  width: 100%;
  height: fit-content;
  padding: 100px 0;
}
.third-page {
  width: 100%;
  height: fit-content;
  background-color: #eaeaea;
}
